body{
	background-color : #EDF6E5
}

h1{
	background-color : #B5EAEA
}

h4{
	background-color : #FFBCBC
}

hr{
	height : 3px;
	background-color : #B5EAEA;
	border : none;
}

h3{
	background-color : #F38BA0
}

th{
	background-color : #B5EAEA
}